<div class="container">
  <h1 class="display-4 mt-4">สถานที่ท่องเที่ยวในจังหวัดนครศรีธรรมราช</h1>
  <div class="card" style="width: 100%;">
    <img src="assets/images/about/01.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">วัดพระมหาธาตุ วรมหาวิหาร</h2>
      <p class="card-text">วัดพระมหาธาตุ วรมหาวิหาร หรือที่ชาวนครเรียกว่า วัดพระธาตุ นั้น เป็นโบราณสถานสถานศักดิ์สิทธิ์
        และเป็นศูนย์รวมจิตใจของชาวเมืองนครศรีธรรมราชค่ะ อีกทั้งยังเรียกได้ว่าเป็นสัญลักษณ์ของ จังหวัดนครศรีธรรมราช
        อีกด้วย ซึ่งพระบรมธาตุเจดีย์นั้นเป็นที่บรรจุพระบรมสารีริกธาตุของพระพุทธเจ้า
        ทำให้มีพุทธศาสนิกชนจากทั่วทุกมุมโลกแวะเวียนมาสักการะกันอย่างไม่ขาดสาย โดยภายในจะมี องค์พระบรมธาตุเจดีย์
        ที่มีส่วนยอดเจดีย์เป็นทองคำ ซึ่งพระบรมธาตุองค์นี้สร้างขึ้นมาก็เพื่อประดิษฐาน พระบรมสารีริกธาตุ
        พระทันตธาตุหรือพระเขี้ยวแก้วเบื้องซ้ายนี่เอง ซึ่งตามตำนานของพระบรมธาตุนครศรีธรรมราช กล่าวไว้ว่า
        เจ้าชายธนกุมารและพระนางเหมชาลา เป็นผู้นำเสด็จพระบรมธาตุมาประดิษฐานเอาไว้ ณ หาดทรายแก้ว และสร้างเจดีย์องค์เล็กๆ
        เป็นที่สัญลักษณ์ไว้นั่นเอง ในปีมหาศักราช 1098 หรือประมาณ พ.ศ. 1719 นั้น พระเจ้าศรีธรรมาโศกราช
        ทรงสร้างเมืองนครศรีธรรมราชขึ้นมา รวมถึงมีการก่อสร้างเจดีย์องค์ใหม่ขึ้น เป็นเจดีย์ทรงลงกา สูง 55 เมตร
        จากฐานบัวคว่ำบัวหงายจนถึงปลียอดนั้น จะสูง 6.8 เมตร มีการใช้ทองคำเนื้อสิบหุ้มโดยรอบ</p>
    </div>
  </div>

  <div class="card mt-4" style="width: 100%;">
    <img src="assets/images/about/02.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">นํ้าตกวังไม้ปัก</h2>
      <p class="card-text">เป็นสายน้ำสวยๆ ที่ตั้งอยู่ใน อำเภอลานสกา จังหวัดนครศรีธรรมราช โดยเป็นนํ้าตกขนาดกลางๆ
        ไม่เล็กไม่ใหญ่มาก ไหลลงมาจากด้านบนเขาหลวงนั่นเองค่ะ บริเวณรอบๆ ก็มีทั้งภูเขา ต้นไม้ ที่อุดมสมบูรณ์อยู่มากมาย
        ความสวยงามของนํ้าตกแห่งนี้คือ น้ำจะมีความใสมาก สามารถมองเห็นปลาแหวกว่ายอยู่ในนํ้าได้เลย เงียบสงบ คนไม่พลุกพล่าน
        เหมาะกับการมาพักผ่อนดื่มด่ำกับธรรมชาติที่สุดเลย ที่สำคัญเลยคือ น้ำตกวังไม้ปัก นั้น เป็นอีกหนึ่งจุดเช็คอินของ
        หมู่บ้านคีรีวง นั่นเองค่ะ หมู่บ้านชื่อดังของ นครศรีธรรมราช ที่มีขึ้นได้ว่าเป็นโอโซนธรรมชาติ จากตัวหมู่บ้าน
        ให้เราเดินทางข้ามสะพานหมู่บ้านคีรีวงไป จากนั้นเดินทางไปตามถนนในหมู่บ้านจนจะสุดทาง เเล้วก็ให้ข้ามสะพานหิน
        ก็จะเจอกับทางลงไปน้ำตกแล้วเป็นอีกพิกัดของที่เที่ยวภายใน หมู่บ้านคีรีวง นอกจากจะมาเล่นน้ำ ให้อาหารปลาได้แล้ว
        ถ่ายรูปออกมาก็สวยสุดๆ ไปเลยนะคะ ใครรักธรรมชาติ ชอบเที่ยวน้ำตก แวะมาชิลที่ น้ำตกวังไม้ปัก ที่เที่ยวนครศรีธรรมราช
        กันได้เลย บอกเลยว่าจะได้ดื่มด่ำไปกับธรรมชาติสุดๆ ขอบอก</p>
    </div>
  </div>

  <div class="card mt-4" style="width: 100%;">
    <img src="assets/images/about/03.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">แหลมตะลุมพุก</h2>
      <p class="card-text">อยู่ใน อำเภอปากพนัง จังหวัดนครศรีธรรมราช ซึ่งเป็นที่เที่ยวชื่อดังของเมืองคอนนี้เลย โดยมีไฮไลท์อยู่ที่ ชายหาดสีขาว รูปพระจันทร์เสี้ยว ที่ยาวโค้งไปตามชายฝั่งทะเลแนวเหนือใต้นั่นเองค่ะ มีระยะทางประมาณ 6 กิโลเมตร ส่วนอีกด้านหนึ่งของแหลมก็จะเป็นช่วงที่รับลมทะเลจากด้านของฝั่งอ่าวไทย และอีกด้านรับคลื่นลมในฝั่งอ่าวปากแม่น้ำปากพนัง     ถือได้ว่าเป็นสถานที่ท่องเที่ยวพักผ่อนหย่อนใจ ที่มีวิวทิวทัศน์สวยงดงาม อีกทั้งยังเป็นแหล่งรวมวิถีชีวิตที่หลากหลาย ไม่ว่าจะเป็น ชาวอิสลาม ชาวจีน และชาวพื้นเมืองค่ะ ซึ่งในอดีต แหลมตะลุมพุก แห่งนี้เคยได้รับความเสียหายอย่างมากจากพายุโซนร้อนแฮเรียต ในช่วงปี พ.ศ.2505 แต่ปัจจุบันนั้นชายหาดก็กลับมางดงามอีกครั้ง  โดยบริเวณรอบๆ แหลมตะลุมพุก นั้น จะมีทั้ง ร้านอาหารวิวทะเลสวยๆ ตลาดขายสินค้าท้องถิ่นต่างๆ ทั้ง ผลิตภัณฑ์จากทะเลตากแห้ง เป็นต้น อีกบรรยากาศของ ที่เที่ยวทะเล ภาคใต้ ที่ทั้งวิวสวย รวมไปถึงชุมชนก็หลากหลาย อาหารก็ต้องไปลิ้มลอง แวะมาเที่ยวปากพนัง นครศรีธรรมราช กันดีกว่า</p>
    </div>
  </div>
</div>
