<div class="container">
  <h1 class="display-4 mt-4">ติดต่อเรา ผู้จัดทำเว็บไซต์</h1>
  <div class="row mt-4">
    <h3><i class="bi bi-1-square-fill"></i> นาย...............เลขที่......ห้องปวส.1/....</h3>
    <h3><i class="bi bi-2-square-fill"></i> นาย...............เลขที่......ห้องปวส.1/....</h3>
    <h3><i class="bi bi-3-square-fill"></i> นาย...............เลขที่......ห้องปวส.1/....</h3>
    <h3><i class="bi bi-4-square-fill"></i> นาย...............เลขที่......ห้องปวส.1/....</h3>
  </div>
  </div>
