<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/slides/01.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/slides/02.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/slides/03.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container">
  <h1 class="display-4 mt-4">จังหวัดนครศรีธรรมราช</h1>
  <p>นครศรีธรรมราช เป็นเมืองโบราณที่มีความสําคัญทั้งในด้านเศรษฐกิจ สังคม การเมือง การปกครอง และศาสนามากที่สุดเมืองหนึ่ง ในภูมิภาคเอเชียตะวันออกเฉียงใต้ นครศรีธรรมราชมีชื่อเสียงเป็นที่รู้จักกันอย่างกว้างขวาง มาไม่น้อยกว่า 1800 ปีมาแล้ว หลัก ฐานทางโบราณคดี และหลักฐานทางเอกสารที่ปรากฏในขณะนี้ยืนยันได้ ว่านครศรีธรรมราช มีกําเนิดมาแล้วตั้งแต่พุทธศตวรรษที่ 7 เป็นอย่างน้อย

    จากประวัติศาสตร์อันยาวนานแห่งนครศรีธรรมราช สามารถประมวลได้ว่า "นครศรีธรรมราช"ได้ปรากฏชื่อในที่ต่างๆ หลายชื่อตามความรู้ความเข้าใจที่สืบทอด กันมา และสําเนียงภาษาของชนชาติต่าง ๆ ที่เคยเดินทางผ่าน ในระยะเวลาที่ต่างกันเช่น ตามพลิงคม ตามพรลิงค์ มัทธาลิงคม ตามพลิงเกศวร โฮลิง โพลิง เชียะโท้ว โลแค็ก (Locae) สิริธรรมนคร ศรีธรรมราช ลิกอร์(Ligor) ละคอน คิวตูตอน สุวรรณปุระ ปาฏลีบุตร (Pataliputra) และเมือง นคร เป็นต้น

    คำว่า"นครศรีธรรมราช" น่าจะมาจากสร้อยพระนามของปฐมกษัตริย์ ผู้ครอง นครศรีธรรมราช คือพระเจ้าศรีธรรมาโศกราช คํานี้ แปลความได้ว่า "นครอันงานสง่าแห่ง พระราชาผู้ทรงธรรม" และธรรมของราชา แห่งนครนี้ก็คือ ธรรมแห่ง พระพุทธศาสนา

    ถ้าจะลําดับความเป็นมาของนครศรีธรรมราช จากหลักฐาน โบราณคดี และ ประวัติศาสตร์ที่สืบค้น ได้ในขณะนี้ พบว่ามีภูมิหลังอันยาวนานนับตั้งแตยุคหินกลาง ในราว 8,350-11 ,000 ปีที่ล่วงมา จากหลักฐานมีการพบเครื่องหิน ที่มีตัวขวานยาวใหญ่ (บางคนเรียกว่าระนาดหิน ) ที่อําเภอท่า ศาลา ในยุคโลหะ ได้พบหลักฐานทางโบราณคดี คือ กลองมโหระทึกสําริด 2 ใบ ที่บ้านเกตุ กาย ตําบลท่าเรือ อําเภอเมือง และที่คลองคุดด้วน อําเภอฉวาง

    นอกจากนี้ในบริเวณพื้นที่อําเภอสิชลปัจจุบัน ยังมีร่องรอยโบราณสถาน และโบราณวัตถุเกี่ยวเนื่องในศาสนาพราหมณ์ ซึ่งมีอายุเก่าแก่ที่สุดใน นครศรีธรรมราช เช่น พระพุทธรูปสําริด ศิลปแบบอมราวดีของอินเดีย และเศียรพระพุทธรูปศิลปแบบคุปตะอินเดีย เป็นต้น จากหลักฐานเหล่านี้ แสดงให้เห็นว่าใน ช่วงนี้นครศรีธรรมราชได้รับ อิทธิพลวัฒนธรรมมาจากอินเดียอย่างมากมาย ทั้งในด้านศาสนา ความเชื่อ อักษร ภาษา ประเพณี และการปกครอง จนกลายเป็นพื้นฐานวัฒนธรรม นครศรีธรรมราชมาถึง ปัจจุบันนี้

    พุทธศตวรรษที่ 17-19 เป็นช่วงที่นครศรีธรรมราชมีความเจริญรุ่งเรืองสูงสุด ภายใต้ การปกครองของราชวงศ์ศรีธรรมาโศกราช ปัจจัยสําคัญที่ก่อให้เกิดความเจริญรุ่งเรืองน่าจะ เนื่องมากจากการเป็นสถานีการค้าสําคัญของคาบสมุทรไทยเป็นจุดพักถ่าย ซื้อสินค้าระหว่าง ตะวันออกกับตะวันตกที่ดีที่สุดในเวลานั้น ประกอบกับบริเวณ หาดทรายแก้วอันเป็นศูนย์ กลางของชุมชน เป็นที่ประดิษฐานพระบรมสารีริกธาตุของ พระพุทธองค์ความศรัทธาและ ความเลื่อมใสในบวรพุทธศาสนา จึงเป็นปัจจัยชักนําให้ผู้คน จากทุกสารทิศในภาคใต้เข้ามา ตั้งถิ่นฐานในนครศรีธรรมราชอย่างหนาแน่น ในราว พ.ศ. 1700 เศษ ราชวงศ์ศรีธรรมาโศกราช ก็สามารถจัดการปกครอง หัวเมืองรายรอบ ได้สําเร็จถึง 12 เมือง เรียกว่า เมืองสิบสองนักษัตร คือ
1. เมืองสายบุรี	ตราหนู
2. เมืองปัตตานี	ตราวัว
3. เมืองกลันตัน	ตราเสือ
4. เมืองปาหัง	ตรากระต่าย
5. เมืองไทรบุรี	ตรางูใหญ่
6. เมืองพัทลุง	ตรางูเล็ก
7. เมืองตรัง	ตราม้า
8. เมืองชุมพร	ตราแพะ
9. เมืองปันทายสมอ(กระบี่)	ตราลิง
10. เมืองสระอุเลา (สงขลา)	ตราไก่
11. เมืองตะกั่วป่า ถลาง	ตราหมา
12. เมืองกระบุรี	ตราหมู

    จากหลักฐานตํานานเมืองนครศรีธรรมราช ตํานานพระบรมธาตุนครศรีธรรมราช ตลอดถึงวรรณกรรมเรื่องพระนิพพานสูตรทุกสํานวน ต่างยืนยันให้เห็นอย่างชัดเจน ถึงความ รุ่งเรืองไพศาลของนครศรีธรรมราช ในยุคดังกล่าวและสามารถควบคุมหัวเมือง อื่น ๆ ได้ทั่ว ถึงคาบสมุทร มีแสนยานุภาพเกรียงไกรถึงขนาดกรีธาทัพไปตีลังกาถึงสองครั้ง

     เหนือสิ่งอื่นใดราชวงศ์ศรีธรรมาโศกราช ได้สถาปนาพระพุทธศาสนา ลัทธิลังกาวงศ์ ขึ้นอย่างมั่นคงในนครศรีธรรมราช มีการบูรณะพระเจดีย์เดิม ให้เป็นทรงระฆังคว่ำ อันเป็น ศิลปะลังกา จนนครศรีธรรมราชกลายเป็นศูนย์กลางวัฒนธรรม เป็นเมืองแม่แห่งวัฒนธรรม ที่ได้ถ่ายทอด ศิลปวัฒนธรรมไปยัง หัวเมืองอื่น ๆ รวมทั้งสุโขทัยซึ่งในเวลานั้นเพิ่งเริ่ม ก่อตัวขึ้นเป็นราช ธานีทาง ภาคเหนือตอนล่างใหม่ ๆ

    ในช่วงแรกของการตั้งกรุงรัตนโกสินทร์เป็นราชธานี คือสมัยสมเด็จพระพุทธยอดฟ้าจุฬาโลก ได้แต่งตั้งอุปราช (พัฒน์) บุตรเขยของพระเจ้านครศรีธรรมราช (หนู) ขึ้นเป็น เจ้าพระยานครศรีธรรมราช " เจ้าพระยานครนครศรีธรรมราช (พัฒน์) รับราชการมาจนถึงปลาย รัชสมัยรัชกาลที่ 2 จึงได้กราบทูลลาออกจากตําแหน่งด้วย เห็นว่าชราภาพมากแล้ว พระบาทสมเด็จพระพุทธเลิศหล้านภาลัย จึงได้โปรดเกล้าฯ แต่งตั้ง พระบริรักษ์ ภูเบศรผู้ช่วยราชการเมืองนครศรีธรรมราชเป็นเจ้าเมืองนครศรีธรรมราช ต่อมา กระทํา ความดีความชอบในราชการ จนได้รับการแต่งตั้งเป็นเจ้าพระยานครศรีธรรมราช " คนทั่วไป รู้จักในนาม เจ้าพระยานครน้อย "

    เจ้าพระยานครศรีธรรมราช (น้อย ) ตามหลักฐานทางราชการ กล่าวว่าเป็นบุตรเจ้า พระยานครศรีธรรมราช (พัฒน์) แต่คนทั่วไปทราบกันว่า เป็นโอรสพระเจ้ากรุงธนบุรี

    เจ้าพระยานครศรีธรรมราชผู้นี้มีความสามารถ ได้ปราบปรามหัวเมืองมลายู ได้สงบราบคาบเป็นนักการทูตที่สําคัญคนหนึ่ง โดยเฉพาะการเจรจากับอังกฤษในสมัย รัชกาลที่ 2-3 ได้ทําให้ เมืองนครศรีธรรมราชมีอิทธิพลต่อหัวเมืองมลายู เป็นที่น่านับถือยําเกรงแก่บริษัทอังกฤษซึ่ง กําลังแผ่อิทธิพลทางการค้าขายและทางการเมือง ในภาคพื้น เอเชียตะวันออกเฉียงใต้ นอกจาก นี้ เจ้าพระยานครศรีธรรมราช (น้อย ) ยังเป็นผู้มีฝีมือในทางช่างหลายอย่างเช่น ฝีมือในทาง การต่อเรือจนได้รับสมญาว่าเป็น "นาวีสถาปนิก" และใน สมัยรัชกาลที่ 4 เจ้าพระยา นครศรีธรรมราช (น้อย) ก็ได้ถวายพระแท่นถมตะทอง และ พระราชยานถมอีกด้วย

    ภายหลังที่เจ้าพระยานครศรีธรรมราช (น้อย ) ถึงแก่อสัญกรรม เจ้าเมืองนครศรีธรรมราชคนถัดมา คือเจ้าพระยานครศรีธรรมราช (น้อยกลาง) ผู้บุตรไม่เข็มแข็งเท่าที่ควรเป็นเหตุให้หัวเมือง กระด่างกระเดื่อง พระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัว ได้ทรงแก้ไข จัดการปกครองหัว เมืองปักษ์ใต้ โดยให้มีการปกครองเป็นมณฑลนครศรีธรรมราชจึง เป็นมณฑลหนึ่งของ ประเทศไทย โดยทรงพระกรุณาโปรดเกล้าฯ ให้พระยาสุขุมนัยวินิต (ปั้นสุขุม ) เป็นข้าหลวง เทศาภิบาล มณฑลนครศรีธรรมราช ในพ.ศ. 2439

    ในรัชสมัยพระบาทสมเด็จพระมงกุฏเกล้าเจ้าอยู่หัวได้มีการเปลี่ยนแปลง การบริหาร ราชการแผ่นดินด้านการปกครองหัวเมืองอีกครั้งหนึ่งในรัชกาลนี้ โปรดฯ ให้มีการแต่งตั้ง ตําแหน่งอุปราชปักษ์ใต้ขึ้น เพื่อปกครองหัวเมืองปักษ์ใต้ทั้งหมด ในการนี้ได้ทรงพระกรุณา โปรดเกล้าฯ แต่งตั้งสมเด็จเจ้าฟ้ายุคลทิฆัมพร กรมหลวงลพบุรี ราเมศวร์ดํารงตําแหน่ง อุปราชปักษ์ใต้

    จนกระทั่งได้มีการเปลี่ยนแปลงการปกครองในปี พ.ศ. 2475 จึงได้ยุบมณฑล นครศรีธรรมราชลงเป็นจังหวัดหนึ่งของราชอาณาจักรไทย และดํารงฐานะดังกล่าว เรื่อยมา จนปัจจุบัน

    ด้วยเหตุที่นครศรีธรรมราชมีประวัติอันยาวนานมาก ก่อนกรุงสุโขทัย ซึ่งถือว่าเป็น ราชธานีแรกของไทยมีความเจริญรุ่งเรืองทางพุทธศาสนา และศาสนาพราหมณ์มาก่อน ศิลป วัฒนธรรม เช่น ประติมากรรม สถาปัตยกรรม จิตรกรรม ช่างฝีมือพื้นบ้าน การละเล่น และ ขนบธรรมเนียมประเพณีอันเป็นมรดกทางวัฒนธรรมจึงมีมาก ซึ่งชาวเมืองยังยึด ถือปฏิบัติกัน อยู่ในปัจจุบัน นครศรีธรรมราชจึงมีอารยธรรมและศิลปวัฒนธรรมที่เป็น เอกลักษณ์ ของชาติ บ้านเมืองมาจนกระทั่งปัจจุบันนี้</p>
</div>
